@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap');

*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    display: block;
    width: 100%;
}


:root{
    --main-color: #002D62;
    --accent: #4169E1;
    --text: #002244;
    --white: white;
    --font: 'Ancizar Serif';
}
@keyframes blink{
    0%{
        color: var(--main-color)
    }
    25%{
        color: #002D72;
    }
    100%{
        color: var(--accent);
    }
}

html{
    font-size: 16px;
    font-family: var(--font), sans-serif;
}
body{
    color: var(--text);
}

/*navigation*/

#navbar{
    color: var(--text);
    background-color: var(--main-color);
    width: 100%;
    position: fixed;
}
.nav_list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 3em;
    list-style: none;
}
.nav_list a{
    color: var(--white);
    text-decoration: none;
    background-color: var(--main-color);
    padding: 0.5em;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
}
.nav_list a:hover{
    color: var(--text);
    background-color: var(--white);
}

/*hero*/

#hero{
    background-color: var(--main-color);
    height: 20em;
    text-align: center;
    color: var(--white);
}
#hero h1{
    padding-top: 22%;
    font-size: 2.5em;
    text-transform: capitalize;
}
#hero .break{
    display: block;
    color: var(--accent);
    margin-bottom: 0.5em;
    animation: blink 3.5s linear infinite;
}
#hero .break::before{
    content: '<';
    font-size: 1.8rem;
}
#hero .break::after {
    content: '/>';
    font-size: 1.8rem;
}
#hero p{
    font-size: 0.9rem
}
#hero a{
    display: block;
    margin-top: 2em;
}
#hero a button{
    padding: 0.3em;
    color: var(--text);
    text-transform: uppercase;
    font-weight: bold;

    &:hover{
        cursor: pointer;
    }
}
