@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --main-color: ;
    --accent: ;
    --text: ;
    --white: white;
    --font: 'Ancizar Serif', sans-serif;
}